body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0 auto;

  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */

  height: 100vh;

  background-color: black;
}

#scoreUI {
  position: absolute;
  top: 2vh;
  left: 15vw;
  color: whitesmoke;
}

#timeUI {
  position: absolute;
  top: 2vh;
  left: 50%;
  transform: translateX(-50%);
  color: whitesmoke;
}

#livesUI {
  position: absolute;
  top: 2vh;
  right: 15vw;
  color: whitesmoke;
}
